$main-text: #000000;
$sub-text: #383636;
$highlight-color-dark: #2c6666;
$highlight-color-light: #439694;
//Variables
$field-color: rgba(255, 255, 255, 0.08);
$field-height: 65px;
$field-border-radius: 2px;
$field-iconColor: #38a9e1;
$field-iconColor2: #3c3c3a;

// sizes

// others
