$main-text: #000000;
$sub-text: #383636;
$highlight-color-dark: #2c6666;
$highlight-color-light: #439694;
//Variables
$field-color: rgba(255, 255, 255, 0.08);
$field-height: 65px;
$field-border-radius: 2px;
$field-iconColor: #38a9e1;
$field-iconColor2: #3c3c3a;

// colors options 1

$field-color1: #d5d2d9;
$field-color2: #585c73;
$field-color3: #adbcd9;
$field-color4: #6581a6;
$field-color5: #c2d7f2;

// colors options 2

$field-color6: #1e2d40;
$field-color7: #7897bf;
$field-color8: #9cb6d9;
$field-color9: #466c8c;
$field-color10: #a6786d;

// colors options 3

$field-color11: #ba9b52;
$field-color12: #7a6636;
$field-color13: #fad06e;
$field-color14: #3b311a;
$field-color15: #e0bb63;

// colors options 4

$field-color16: #3f97ba;
$field-color17: #2a647a;
$field-color18: #55cbfa;
$field-color19: #14303b;
$field-color20: #4cb6e0;

// colors options 5

$field-color21: #e4e3e9;
$field-color22: #f0f1f5;
$field-color23: #d0cfd3;
$field-color24: #38373c;
$field-color25: #eeeff3;

// colors options 6

$field-color26: #010a26;
$field-color27: #014040;
$field-color28: #027367;
$field-color29: #8fd9b6;
$field-color30: #f2dfbb;

// colors options 7

$field-color31: #402c1a;
$field-color32: #d9c2ad;
$field-color33: #bfa08e;
$field-color34: #8c675a;
$field-color35: #a64e4e;

// colors options 8

$field-color36: #a60321;
$field-color37: #59222c;
$field-color38: #bf6071;
$field-color39: #f2d3d0;
$field-color40: #bf7373;
// others
