$main-text: #000000;
$sub-text: #383636;
$highlight-color-dark: #2c6666;
$highlight-color-light: #439694;
//Variables
$field-color: rgba(255, 255, 255, 0.08);
$field-height: 65px;
$field-border-radius: 2px;
$field-iconColor: #38a9e1;
$field-iconColor2: #3c3c3a;

// colors options 1

$field-color1: #d5d2d9;
$field-color2: #585c73;
$field-color3: #adbcd9;
$field-color4: #6581a6;
$field-color5: #c2d7f2;

// colors options 2

$field-color6: #1e2d40;
$field-color7: #7897bf;
$field-color8: #9cb6d9;
$field-color9: #466c8c;
$field-color10: #a6786d;

// colors options 3

$field-color11: #ba9b52;
$field-color12: #7a6636;
$field-color13: #fad06e;
$field-color14: #3b311a;
$field-color15: #e0bb63;
// others
