@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
body {
  font-family: "Raleway", sans-serif;
}

@font-face {
  font-family: "Roboto thin";
  src: url("../../fonts/Roboto-Thin.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 60vw;
}
ul li {
  margin: 1rem;
  padding: 0.4rem;
  font-size: 0.9vw;
  justify-content: space-evenly;
  flex-direction: column;
  justify-items: center;
}
ul li :nth-child(0) {
  font-size: 3rem;
}
ul li :nth-child(2),
ul li :nth-child(3) {
  display: inline-flex;
  flex-direction: row;
}

.classforall {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
}

.start {
  background-color: #8c876c;
}

.toStopit {
  background-color: #c99c99;
}

.taskList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

button {
  font-size: 1vw;
  border: none;
  background-color: #f2bbaf;
  padding: 0.5rem 0.7rem 0.5rem 0.7rem;
  margin: 0.4rem;
  flex-direction: row;
  border-radius: 5px;
}

.endDay {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skt {
  font-size: 0.9vw;
  border: none;
  background-color: #8c876c;
  border-radius: 3px;
  padding: 0.6rem;
  margin-top: 1rem;
}

.balloon {
  position: absolute;
  display: inline-block;
  width: 8vw;
  height: 10vw;
  background: #c99c99;
  border-radius: 80%;
  position: relative;
  margin: 20px 30px;
  transition: transform 0.5s ease;
  z-index: 10;
  animation: balloons 4s ease-in-out infinite;
  transform-origin: bottom center;
}

.balloonfading {
  opacity: 50%;
}

@keyframes balloons {
  0%, 100% {
    transform: translateY(0) rotate(-4deg);
  }
  50% {
    transform: translateY(-25px) rotate(4deg);
  }
}
.balloon:before {
  content: "▲";
  font-size: 20px;
  color: #c99c99;
  display: block;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: -12px;
  z-index: -100;
}

.balloon:after {
  display: inline-block;
  top: 153px;
  position: absolute;
  height: 250px;
  width: 1px;
  margin: 0 auto;
  content: "";
}

.balloon:nth-child(2) {
  background: #e8e4c7;
  animation-duration: 3.5s;
}

.balloon:nth-child(2):before {
  color: #e8e4c7;
}

.balloon:nth-child(3) {
  background: #f2bbaf;
  animation-duration: 3s;
}

.balloon:nth-child(3):before {
  color: #f2bbaf;
}

.balloon:nth-child(4) {
  background: #8c876c;
  animation-duration: 4.5s;
}

.balloon:nth-child(4):before {
  color: #8c876c;
}

.balloon:nth-child(5) {
  background: #593f3b;
  animation-duration: 5s;
}

.balloon:nth-child(5):before {
  color: #593f3b;
}

main {
  width: 65vw;
  margin-top: 0.2vw;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  color: #000000;
  font-size: 3vw;
  text-align: center;
  background-image: linear-gradient(45deg, #f2bbaf, #8c876c);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  color: #000000;
  font-size: 1.3vw;
  text-align: center;
  width: 55%;
  margin-top: 1.2vw;
  font-weight: 300;
}

h3 {
  margin-top: 1rem;
  color: #000000;
  font-size: 1.3vw;
  text-align: center;
}

h4 {
  font-size: 1vw;
  color: #383636;
  margin-bottom: 0.8vw;
}

b {
  background-image: linear-gradient(45deg, #f2bbaf, #8c876c);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title {
  margin-top: 2vw;
}

.icon {
  flex-direction: row;
  justify-content: left;
  align-self: flex-start;
  float: left;
}

img {
  width: 12vw;
}

.newTask {
  background-color: #e8e4c7;
  border-radius: 8px;
  margin: 2rem 0 2rem 0;
  padding: 1rem;
}

.userInput {
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: 10vh;
}
.userInput .nameTask,
.userInput .setTime {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.userInput .nameTask span,
.userInput .setTime span {
  color: #000000;
  font-size: 1vw;
  font-weight: 900;
  margin-left: 0.2rem;
}

.range-cont {
  width: 25vw;
  height: 2vw;
  border: none;
  background-color: white;
  box-shadow: 1px 3px 3px 0.1px #c99c99;
  border-radius: 5px;
}

input[type=range] {
  display: flex;
  -webkit-appearance: none;
  background-color: #f2bbaf;
  width: 94%;
  height: 18%;
  margin: 0.4rem;
  margin-left: 0.5rem;
  border-radius: 5px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #f2bbaf;
  width: 1.2vw;
  height: 1.2vw;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

​ input[type=range]::-webkit-slider-thumb:hover {
  background-color: white;
  border: 2px solid #c99c99;
}

​ input[type=range]::-webkit-slider-thumb:active {
  border: none;
}

.nameTask input {
  font-size: 0.9vw;
  width: 25vw;
  height: 2vw;
  border: none;
  box-shadow: 1px 3px 3px 0.1px #c99c99;
  border-radius: 5px;
}

.create-task-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer .displayTimer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vw;
  font-size: 5vw;
  position: relative;
  height: auto;
  font-size: 60px;
  flex-direction: row;
}

#time {
  font-weight: bold;
  position: absolute;
  z-index: 99;
}

.displayList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  margin: 0.8vw;
}

#time {
  font-family: "Roboto thin";
}

.value {
  font-family: "Roboto thin";
}

/*# sourceMappingURL=main.css.map */
